# Dependencies
node_modules/

# Build output
dist/

# IDE
.vscode/

# Environment variables
.env
.env.local
.env.production
.netlify/state.json

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
